.info-section {
  z-index: 1000;
  position: absolute;
  left: 24px;
  right: 24px;
  top: 50%;

  min-width: $container-width;
  margin-top: 17px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $basic-white;
  border-radius: 15px;
  overflow: hidden;
}
