.info-section {
  z-index: 1000;
  position: absolute;
  left: 24px;
  right: 24px;
  top: 50%;

  margin-top: 17px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $basic-white;
  border-radius: 15px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: 71%;
  }

  @media (min-width: $max-info-width) {
    left: 50%;

    width: 1110px;
    margin-left: -555px;
  }
}
