.info-list {
  margin: 0;

  color: $basic-black;
  text-align: center;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;

    text-align: left;
  }
}

.info-list__title {
  margin-bottom: 9px;

  color: $basic-grey;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-list__description {
  margin: 0;

  color: $basic-dark-grey;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
}

.info-list__item {
  position: relative;

  margin: 0 32px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 25%;
    margin-bottom: 0;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -32px;
      top: 8px;
      bottom: 8px;

      width: 1px;

      background-color: $basic-light-grey;
    }
  }
}
