.input-section {

  padding-top: 29px;
  padding-bottom: 157px;

  background-image: url("../img/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $special-sky-blue;
}

.input-section__title {
  margin: 0;

  color: $basic-white;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}
