$main-font: "Rubik", "Arial", sans-serif;

$basic-white: #ffffff;
$basic-light-grey: #d8d8d8;
$basic-grey: #b4b4b4;
$basic-extra-grey: #3f3f3f;
$basic-dark-grey: #313131;
$basic-black: #000000;
$basic-main-blue: #2625c6;
$special-sky-blue: #5163c6;

$min-container-width: 327px;
$max-container-width: 550px;
$max-info-width: 1120px;

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1440px;
